.link-icon-not-active {
  border-radius: 100%;
  padding: 10px;
}

.link-icon-not-active:hover {
  background-color: rgba(173, 48, 48, 0.822);
}

.active {
  padding: 12px;
  border-radius: 50px;
  background-color: rgba(173, 48, 48, 0.822);
}

.not-active {
  /*   padding: 12px; */
  border-radius: 50px;
}
