@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@plugin "daisyui" {
  themes: all;
}

body {
  overflow-x: hidden;
}

#root {
  font-family: "Poppins", sans-serif;
}

button:hover {
  cursor: pointer;
}

.ProseMirror-focused {
  outline: none;
}

ul {
  list-style-type: disc; /* Forces bullet points */
  padding-left: 1rem; /* Ensures bullets are visible */
}

mark {
  border-radius: 2px;
  padding: 2px;
}

select:focus {
  outline: none;
}

.is-completed {
  opacity: 1;
}
